@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
	margin: 0 !important;
	padding: 0 !important;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
}

.bg-white {
	background-color: white;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

li:hover {
	color: #ffa800 !important;
	opacity: 1;
}

#title {
	font-style: normal;
	font-weight: 600;
	display: flex;
	align-items: center;
}

main > div > video {
	position: absolute;
	top: 0;
	object-fit: cover;
}

.header-container {
	width: 90%;
	position: relative;
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-label {
	cursor: pointer !important;
	width: 2rem;
	height: 1.4rem;
	margin-top: 20px;
}

.header-button {
	width: 2rem;
	height: 0.2rem;
	background: #ffa800;
	position: absolute;
	top: 1.9rem;
	transition: all 0.2s;
	cursor: pointer;
}

.header-button::before,
.header-button::after {
	content: "";
	width: 2rem;
	height: 0.2rem;
	background: #ffa800;
	position: absolute;
	top: -0.6rem;
	transition: all 0.2s;
	cursor: pointer;
}

.header-button::after {
	top: 0.6rem;
	cursor: pointer;
}

.checkbox:checked + header .header-container label .header-button {
	background: none;
}

.checkbox:checked + header .header-container label .header-button::after,
.checkbox:checked + header .header-container label .header-button::before {
	top: 0;
}

.checkbox:checked + header .header-container label .header-button::before {
	transform: rotate(35deg);
}

.checkbox:checked + header .header-container label .header-button::after {
	transform: rotate(-35deg);
}

.logo {
	position: absolute;
	width: 116px;
	height: 35px;
}

.checkbox {
	display: none;
}

.menu {
	position: absolute;
	background: #000;
	top: 0;
}

ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
}

li {
	cursor: pointer;
	color: transparent;
	list-style: none;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.04em;
	text-shadow: 0 0 2px #ffa800;
	color: black;
	opacity: 0.6;
	transition: 1s;
}

nav > span {
	position: absolute;
	top: 25px;
	left: 18px;
	color: #ffa800;
	font-style: italic;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04rem;
}

.image-menu {
	left: 0;
	top: 0;
}

.rss {
	position: absolute;
	left: 0;
}

.icon-facebook,
.icon-instagram,
.icon-facebook-black,
.icon-instagram-black {
	position: absolute;
}

.text-down {
	color: white;
	position: absolute;
	left: 234px;
	background: #ffa800;
}

.text {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	padding: 0px 93px;
}

.text-upper {
	text-transform: uppercase;
}


@keyframes fadeInRightCustom {
	0% {
        opacity: 0.5;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__fadeInRightCustom {
    -webkit-animation-name: fadeInRightCustom;
    animation-name: fadeInRightCustom
}

.animate__animatedCustom.animate__fastCustom {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-duration: calc(var(1s)*0.8);
    animation-duration: calc(var(1s)*0.8)
}

@keyframes fadeOutRightCustom {
    0% {
        opacity: 1
    }

    to {
        opacity: 0.5;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }
}

.animate__fadeOutRightCustom {
    -webkit-animation-name: fadeOutRightCustom;
    animation-name: fadeOutRightCustom
}

.animate__animatedCustom.animate__fasterCustom {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-duration: calc(var(1s)/2);
    animation-duration: calc(var(1s)/2)
}

@media (min-width: 393px) and (max-width: 767px) {
	body {
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("./assets/imageback.png");
	}
	.desktop {
		display: none;
	}

	.tablet {
		display: none;
	}

	.mobile {
		display: block;
	}

	main > div > video {
		left: 836px;
		bottom: 0;
		right: 0;
		width: 601px;
		height: 1920px;
		display: none;
	}

	.logo {
		left: 0px;
		top: 15px;
	}

	.principal-text {
		position: absolute;
		width: 351px;
		height: 93px;
		top: calc(50% - 93px / 2 + 27.5px);
		left: calc(50% - 351px / 2 + 1px);
		font-size: 76px;
		line-height: 93px;
	}

	.menu {
		width: 217px;
		height: 893px;
		left: 176px;
	}

	ul {
		left: 0;
		right: 25px;
		top: 139px;
		bottom: 0;
	}

	li {
		font-size: 36px;
		line-height: 85px;
		margin-bottom: 40px;
	}

	nav > span {
		display: none;
	}

	.image-menu {
		width: 45%;
		height: 100%;
	}

	.rss {
		position: absolute;
		width: 176px;
		height: 311px;
		top: 582px;
		background: #ffa800;
		padding: 0px 0px;
	}

	.icon-facebook {
		top: 20px;
		display: none;
	}

	.icon-instagram {
		top: 20px;
		display: none;
	}

	.icon-facebook-black {
		top: 80px;
		right: 65px;
	}

	.icon-instagram-black {
		top: 145px;
		right: 65px;
	}

	.text-down {
		width: 48.4%;
		height: 727px;
		top: 1189px;
		display: none;
	}

	.text {
		top: 280px !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.desktop {
		display: none;
	}

	.tablet {
		display: block;
	}

	.mobile {
		display: none;
	}

	main > div > video {
		left: 836px;
		bottom: 0;
		right: 0;
		width: 601px;
		height: 1920px;
	}

	.logo {
		left: 36px;
		top: 27px;
	}

	.principal-text {
		position: absolute;
		width: 831px;
		height: 220px;
		top: 780px;
		left: calc(50% - 668px / 2 + 0.5px);
		font-size: 241px;
		line-height: 220px;
	}

	.menu {
		width: 708px;
		height: 1920px;
		left: 729px;
	}

	ul {
		left: 0;
		right: 0;
		top: 530px;
		bottom: 0;
	}
	li {
		font-size: 96px;
		line-height: 85px;
		margin-bottom: 115px;
	}

	nav > span {
		display: flex;
	}

	.image-menu {
		width: 71.7%;
		height: 1190px;
	}

	.rss {
		width: 234px;
		height: 727px;
		top: 1190px;
		background: #000;
		padding: 0px 97px;
	}

	.icon-facebook {
		top: 280px;
	}

	.icon-instagram {
		top: 380px;
	}

	.icon-facebook-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.icon-instagram-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.text-down {
		width: 48.4%;
		height: 727px;
		top: 1189px;
	}

	.text {
		top: 280px !important;
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.desktop {
		display: block;
	}

	.tablet {
		display: none;
	}

	.mobile {
		display: none;
	}
	main > div > video {
		left: 877px;
		bottom: 0;
		right: 0;
		width: 562px;
		height: 100%;
	}

	.logo {
		left: 36px;
		top: 27px;
	}

	.principal-text {
		position: absolute;
		width: 739px;
		height: 195px;
		top: calc(50% - 195px / 2 + 5.5px);
		left: calc(50% - 739px / 2 + 26.3px);
		font-size: 160px;
		line-height: 195px;
	}

	.menu {
		width: 638px;
		height: 980px;
		left: 801px;
	}

	ul {
		left: 0;
		right: 0;
		top: 181px;
		bottom: 0;
	}

	li {
		font-size: 70px;
		line-height: 85px;
		letter-spacing: 0.04em;
		margin-bottom: 48px;
	}

	nav > span {
		display: flex;
	}

	.image-menu {
		width: 55.7%;
		height: 665px;
	}

	.rss {
		width: 234px;
		height: 315px;
		top: 665px;
		background: #000;
		padding: 0px 97px;
	}

	.icon-facebook {
		top: 101px;
	}

	.icon-instagram {
		top: 168px;
	}

	.icon-facebook-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.icon-instagram-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.text-down {
		width: 39.4%;
		height: 315px;
		top: 665px;
	}

	.text {
		top: 123px !important;
	}
}

@media (min-width: 1441px) and (max-width: 2560px) {
	main > div > video {
		left: 1120px;
		bottom: 0;
		right: 0;
		width: 800px;
		height: 100%;
	}

	.logo {
		left: 36px;
		top: 27px;
	}

	.principal-text {
		position: absolute;
		width: 739px;
		height: 195px;
		top: calc(50% - 195px / 2 + 5.5px);
		left: calc(50% - 739px / 2 + 26.3px);
		font-size: 160px;
		line-height: 195px;
	}

	.menu {
		width: 930px;
		height: 980px;
		left: 990px;
	}

	ul {
		left: 0;
		right: 0;
		top: 181px;
		bottom: 0;
	}

	li {
		font-size: 70px;
		line-height: 85px;
		margin-bottom: 48px;
	}

	nav > span {
		display: flex;
	}

	.image-menu {
		width: 51.6%;
		height: 665px;
	}

	.rss {
		width: 234px;
		height: 315px;
		top: 665px;
		background: #000;
		padding: 0px 97px;
	}

	.icon-facebook {
		top: 101px;
	}

	.icon-instagram {
		top: 168px;
	}

	.icon-facebook-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.icon-instagram-black {
		top: 20px;
		right: 10px;
		display: none;
	}

	.text-down {
		width: 39.4%;
		height: 315px;
		top: 665px;
	}

	.text {
		top: 123px !important;
	}
}
